.header {
  margin: 0;
  padding: 15px 15px;
  width: 100%;
  background-color: blue;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-areas: 
  "Reset Popup";
}

.button-reset {
  width: 100px;
  height: 30px;
  grid-area: Reset;
  justify-self: center;
}
.popup {
  grid-area: Popup;
  width: 50px;
  height: 17px;
  align-self: center;
  justify-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup span {
  height: 2px;
  width: 30%;
  transform: scale(1);
  background-color: #fff;
}

.popup::before, .popup::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.popup::before {
  top: 0;
}

.popup::after {
  bottom: 0;
}

.popup.active span {
  transform: scale(0);
}

.popup.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.popup.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}