.header {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header {
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-areas:
  "Home About Skills Portfolio Contacts"
  "Title . Subtitle . Lang "
  "Image Image Image Image Image";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15px 100px 1fr;
  grid-row-gap: 20px;
  border: 1px solid red;
}
.home {
  grid-area: Home;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.about {
  grid-area: About;
  width: 100%;
}
.skills {
  grid-area: Skills;
  width: 100%;
}
.portfolio {
  grid-area: Portfolio;
  width: 100%;
}
.contacts {
  grid-area: Contacts;
  width: 100%;
}


.title {
  grid-area: Title;
  width: 100%;
  border: 1px solid red;
  margin: 0;
}
.subTitle {
  grid-area: Subtitle;
  width: 100%;
  margin: 0;
}
.lang {
  grid-area: Lang;
  width: 100%;
} 

img {
  grid-area: Image;
  width: 100%;
} */
