.header-content__button {
  height: 43px;
  width: 113px;
  background-color: #D2E1FF;
  color: #3A79FF;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}