.about-me {
  margin: 0;
  width: 100%;
  min-height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  gap: 30px;
  /* outline: 1px solid black; */
}