
@import url(../blocks/page/page.css);
/*HEADER SECTION*/
@import url(../blocks/header/header.css);

.wrapper {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  background-color: aqua;
}
.timer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blue;
  justify-self: center;
  align-self: center;
  text-align: center;
  display: grid;
}
.timer__title {
  text-align: center;
  margin: 0;
  align-self: center;
}
.timer__value {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
  height: 100px;
}

.timer__start {
  width: 50px;
  height: 50px;
  justify-self: center;
}


.footer {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.lap {
  height: 50px;
  margin: 10px;
}
/* .lap-current {

}
.lap-total {
} */
.info {
  height: 50px;
  width: 100px;
}

.nav {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 80%;
  top: 0;
  right: 0;
  padding: 50px;
  background-color: black;
  animation: popupAnimation 0.4s;
  color: #fff;
}

@keyframes popupAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}

.open {
  display: flex;
}