.header-content__text {
  height: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  color: #5E81FE;
}

.header-content__text:hover {
  font-size: 20px;
  color: #0a3ef9;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, .3);
}